.create-course-title {
    display: flex;
    justify-content: space-between;
}
.create-course-label {
    width: 100%;
    margin: 20px 0;
}
.create-course-textarea {
    display: block;
    width: calc(100% - 20px);
    border-radius: 8px;
    border: 1px solid #feba25;
    padding: 8px 10px 8px 10px;
}
.create-course-block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.ccb-authors,
.ccb-dur-auth {
    display: flex;
    justify-content: space-between;
}
.ccb-create-auth {
    width: 50%;
    display: flex;
    flex-direction: column;

}
.ccb-add-auth > div {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.ccb-add-auth,
.ccb-duration,
.ccb-auth-list {
    width: 50%;
}
.ccb-create-auth > label,
.ccb-create-auth > label > input, 
.ccb-duration > label,
.ccb-duration > label > input {
    width: 100%;
    margin-bottom: 10px;
}
.create-course-block-add-auth > label {
    margin: 10px 0;
}
.ccb-duration > p {
    margin-top: 20px;
    text-align: left;
    font-size: larger;
}
.ccb-dur-hh-mm {
    font-size: 1.17em;
    font-weight: bold;
}